<!--
  ~ Copyright ©️ 2018 Galt•Project Society Construction and Terraforming Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka)
  ~
  ~ Copyright ©️ 2018 Galt•Core Blockchain Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka) by
  ~  [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
  -->

<div id="import-account" class="padding-container">
  <h2>Import account</h2>

  <md-field>
    <label>Import method</label>
    <md-select v-model="importMethod">
      <md-option v-for="method in methodList" :value="method.value">{{method.title}}</md-option>
    </md-select>
  </md-field>

  <div v-if="importMethod === 'privateKey'">
    <div><label>Input private key</label></div>
    <input v-model="privateKey" />

    <button style="margin-top: 15px;" @click="importAccount()">Add new account</button>
  </div>
</div>
